body{
  height: 100vh;
  overflow-x: hidden;
  overflow-y:hidden;
  background-image: url("../img/train.jpg");
  background-size: cover;
  position: relative;
}

/* Image */

section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */

.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay h1{
  color: #311d40;
  text-shadow: 5px 5px 5px white;
}

.overlay p{
  color: #C1CDED;
  text-shadow: 5px 5px 5px #3C2050;
}


  