body{
  height: 100vh;
  overflow-x: hidden;
  overflow-y:hidden;
  background-image: url("../img/train.jpg");
  background-size: cover;
  position: relative;
}

/* Ticket position*/

.dati-passeggero{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Passenger datas styles*/

.form-control:focus, .form-select:focus{
  background-color: #311d40;
  color: white;
}

.dati-passeggero h1, h2{
  color: #311d40;
  text-shadow: 3px 3px 3px white;
}

.dati-passeggero p{
  color: #C1CDED;
  text-shadow: 5px 5px 5px #3C2050;
}

.dati-passeggero .btn:hover{
background-color: #3C2050;
}

/* Ticket styles*/

.ticket{
  background-color: rgba(255, 255, 255, 0.3);
}

.ticket div{
  color:#3C2050;
  text-shadow: 2px 2px 2px white;
}


  